/* font-family: 'Barlow', sans-serif; logo, menu bez kontakt, teksty, info od klientow,stanowiska klientow, stopka*/
/* font-family: 'Fraunces', serif; */

body {
    margin: 0 auto;
    width: 100%;
}

.big_image{
    background-image: url("./images/desktop/image-header.jpg");
    min-height: 750px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.nav_box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px;
    align-items: center;
}

.nav_list{
    font-family: 'Barlow', sans-serif;
    font-size: 14px;
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    margin: 20px;
}

.nav_btn{
    background-color: hsl(0, 0%, 100%);
    color: hsl(212, 27%, 19%);
    font-family: 'Fraunces', serif;
    border-radius: 25px;
    border: 1px solid hsl(0, 0%, 100%);
    padding: 10px 15px;
    font-size: 12px;
    margin-left: 10px;
}

.header_text{
    font-family: 'Fraunces', serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    font-size: 25px;
    letter-spacing: 10px;
    color: hsl(0, 0%, 100%);
}

.header_arrow{
    padding-top: 40px;
}

.container {
    display: grid;
    grid-template-columns:repeat(2, 1fr);
}