/* font-family: 'Barlow', sans-serif; logo, menu bez kontakt, teksty, info od klientow,stanowiska klientow, stopka*/
/* font-family: 'Fraunces', serif; */

body {
    margin: 0 auto;
    width: 100%;
}

.big_image{
    background-image: url("./images/desktop/image-header.jpg");
    min-height: 750px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.nav_box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px;
    align-items: center;
}

.nav_list{
    font-family: 'Barlow', sans-serif;
    font-size: 14px;
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    margin: 20px;
}

.nav_btn{
    background-color: hsl(0, 0%, 100%);
    color: hsl(212, 27%, 19%);
    font-family: 'Fraunces', serif;
    border-radius: 25px;
    border: 1px solid hsl(0, 0%, 100%);
    padding: 10px 15px;
    font-size: 12px;
    margin-left: 10px;
}

.header_text{
    font-family: 'Fraunces', serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    font-size: 25px;
    letter-spacing: 10px;
    color: hsl(0, 0%, 100%);
}

.header_arrow{
    padding-top: 40px;
}

.container {
  display: block;
  align-items: center;
  width: 100%;
  overflow: hidden;
}

.container > img {
    float:left;
}

.container_text{
    min-width: 300px;
    width: 50%;
    float:right;
}
.container:nth-child(even) > img {
    float:right;
}
.container:nth-child(even) > .container_text {
    float:left;
}

.container_header{
    font-family: 'Fraunces', serif;
    color: hsl(212, 27%, 19%);
    margin-bottom: 10px;
    margin: 0;
    font-size: 25px;
}

.container_box{
    margin: 0 auto;
    max-width: 350px;
    /* padding: 200px; */
}

.container_info{
    font-family: 'Barlow', sans-serif;
    color: hsl(210, 4%, 67%);
    font-size: 14px;
    line-height: 25px;
    margin: 25px 0 25px 0;
}

.container_link{
    font-family: 'Fraunces', serif;
    color: hsl(212, 27%, 19%);
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
    text-decoration: none;
}

.yellow_hover:hover{
    text-decoration: underline hsl(51, 100%, 49%) 5px;
}

.red_hover:hover{
    text-decoration: underline hsl(7, 99%, 70%) 5px;
}

.container_image {
   width: 50%;
}

.gp_element{
    float: left;
    width: 50%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.gp_img{
    width: 100%;
}

.gp_text{
    position: absolute;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
    width: 300px;
}

.graphic{
    color: hsl(167, 40%, 24%);
}

.photography{
    color: hsl(198, 62%, 26%)
}

.gp_header{
    font-family: 'Fraunces', serif;
    margin-bottom: 10px;
    margin: 0;
    font-size: 25px;
}

.gp_info{
    font-family: 'Barlow', sans-serif;
    font-size: 14px;
    line-height: 25px;
}

.opinions{
    background-color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
}

.opinions_header{
    color: hsl(210, 4%, 67%);
    font-family: 'Fraunces', serif;
    letter-spacing: 5px;
    margin: 0 20px 50px 20px;
    padding: 0 20px 20px 20px;
}

.opinions_elements{
    display: flex;
    align-items: center;

}

.opinions_person{
    text-align: center;
    padding: 15px;
}

.opinions_img{
    border-radius: 100px;
    width: 50px;
    margin-bottom: 20px;
}

.opinions_text{
    font-family: 'Barlow', sans-serif;
    font-size: 13px;
    color: hsl(213, 9%, 39%);
    line-height: 20px;
    padding: 5px;
}

.opinions_name{
    font-family: 'Fraunces', serif;
    margin: 50px 0 5px 0;
}

.opinions_position{
    color: hsl(210, 4%, 67%);
    font-family: 'Barlow', sans-serif;
    font-size: 10px;
    
}


